@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="search-bar">
	<EditForm Model="inputFromUser" FormName="connection-search" OnSubmit="Submit">
		<div class="search-field">
			<label>Stacja początkowa</label>
			<InputText @bind-Value="inputFromUser.SearchStartStation" />
		</div>
		<div class="search-field">
			<label>Stacja końcowa</label>
			<InputText @bind-Value="inputFromUser.SearchEndStation" />
		</div>
		<div class="search-field">
			<label>Data</label>
			<InputDate @bind-Value="inputFromUser.SearchDateSelected" />
		</div>
		<div>
			<button type="submit">Wyszukaj!</button>
		</div>
	</EditForm>
</div>

@code {
	SearchInput inputFromUser = new SearchInput();

	// Execute when form is submitted
	public void Submit()
	{
		navigationManager.NavigateTo($"/timetable/{inputFromUser.SearchStartStation}/{inputFromUser.SearchEndStation}/{inputFromUser.SearchDateSelected.ToString()}");
	}

	public class SearchInput
	{
		// Attributes
		public string SearchStartStation
		{
			get; set;
		}
		public string SearchEndStation
		{
			get; set;
		}
		public DateTime SearchDateSelected
		{
			get; set;
		}

		// Constructors
		public SearchInput(string start, string end, DateTime date)
		{
			SearchStartStation = string.IsNullOrEmpty(start) ? " " : start;
			SearchEndStation = string.IsNullOrEmpty(end) ? " " : end;
			SearchDateSelected = date;
		}
		public SearchInput()
		{
			SearchStartStation = "Start";
			SearchEndStation = "Koniec";
			SearchDateSelected = DateTime.Now;
		}
	}
}