@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="logo">
	<a href="/"><h1>Jazda z pociągami</h1></a>
</div>
<hr />
<div class="search-bar">
	<EditForm Model="inputFromUser" FormName="connection-search" OnSubmit="Submit">
		<div class="search-field">
			<label>Stacja początkowa</label>
			<br />
			<InputText @bind-Value="inputFromUser.SearchStartStation" />
		</div>
		<div class="search-field">
			<label>Stacja końcowa</label>
			<br />
			<InputText @bind-Value="inputFromUser.SearchEndStation" />
		</div>
		<div class="search-field">
			<label>Data</label>
			<br />
			<InputDate @bind-Value="inputFromUser.SearchDateSelected"/>
		</div>
		<div>
			<button class="submit" type="submit">Wyszukaj!</button>
		</div>
	</EditForm>
</div>

@code {
	SearchInput inputFromUser = new SearchInput();

	// Execute when form is submitted
	public void Submit()
	{
		navigationManager.NavigateTo($"/timetable/{inputFromUser.FormatSearchInput()}");
	}

	public class SearchInput
	{
		// Attributes
		public string SearchStartStation
			{ get; set; }
		public string SearchEndStation
			{ get; set; }
		public DateTime SearchDateSelected
			{ get; set; } = DateTime.Now;
		public string SearchDate { get; set; }

		// Constructors
		public string FormatSearchInput()
		{
			string result = "";
			result += string.IsNullOrEmpty(SearchStartStation) ? " " : SearchStartStation;
			result += "/";
			result += string.IsNullOrEmpty(SearchEndStation) ? " " : SearchEndStation;
			result += "/";
			string day = (SearchDateSelected.Day < 10) ? "0" : "";
			day += SearchDateSelected.Day.ToString();
			string month = (SearchDateSelected.Month < 10) ? "0" : "";
			month += SearchDateSelected.Month.ToString();
			result += SearchDateSelected.Year.ToString() + month + day;
			return result;
		}
		public SearchInput()
		{
			SearchStartStation = "Zdzieszowice";
			SearchEndStation = "Opole Główne";
			DateTime date = DateTime.Now;
			SearchDate = date.Year.ToString() + date.Month.ToString() + date.Day.ToString();
		}
	}
}