@using Microsoft.EntityFrameworkCore
@using RozkladJazdyBlazor.Data
@inject IDbContextFactory<PolregioContext> PolregioContextFactory;
@page "/connection/{id}"
<h3>Connection</h3>

	@if (@StopsTable is not null && @StopsTable.Count > 0)
	{
		<div class="table-responsive">
			<table class="table table-striped table-hover table-bordered table-light border-dark">
				<thead>
					<tr>
						<th>Nazwa przystanku</th>
						<th>Godzina przyjazdu</th>
						<th>Godzina odjazdu</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var row in @StopsTable)
				{
					<tr>
						<td>@row.Stop_Name</td>
						<td>@row.Arrival_Time</td>
						<td>@row.Departure_Time</td>
					</tr>
				}
			</tbody>
			</table>
		</div>
	}

@code {
	[Parameter]
	public string id
	{ get; set; } = "0";

	protected override async Task OnInitializedAsync()
	{
		await ShowInfo();
	}
}
